@import url('./nav-bar.css');
@import url('./fonts.css');
@import url('./index.css');
@import url('./login-logout.css');
@import url('./btn.css');
@import url('./manage-customer.css');

body {
  padding: 0;
  margin: 0;
  user-select: none;
  color: #393b3c; /* Body Main Text Color */
}
.oneTouchBodyContainer {
  display: flex;
  justify-content: space-evenly;
  overflow: auto;
}
.oneTouchBodyWrapper {
  display: flex;
  justify-content: space-evenly;
  min-height: 100vh;
  padding: 5px;
}
.cursor-on {
  cursor: pointer;
}
.hidden {
  display: none;
}
.features,
.features-flex-wrap,
.features-align-left,
.features-align-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1000px;
  height: auto;
  padding: 10px 0;
}
.features-flex-wrap {
  flex-wrap: wrap;
  gap: 10px;
}
.features-align-left {
  justify-content: flex-start;
}
.features-align-right {
  justify-content: flex-end;
}
.flex-container-20,
.flex-container-30,
.flex-container-40,
.flex-container-50,
.flex-container-60,
.flex-container-70,
.flex-container-80,
.flex-container-90,
.flex-container-100 {
  flex-basis: 20%;
  justify-content: space-evenly;
  padding: 5px;
  transition: transform 0.6s;
}
.flex-container-30 {
  flex-basis: 30%;
}
.flex-container-40 {
  flex-basis: 40%;
}
.flex-container-50 {
  flex-basis: 50%;
}
.flex-container-60 {
  flex-basis: 60%;
}
.flex-container-70 {
  flex-basis: 70%;
}
.flex-container-80 {
  flex-basis: 80%;
}
.flex-container-90 {
  flex-basis: 90%;
}
.flex-container-100 {
  flex-basis: 100%;
}

/* Media Queries */
@media only screen and (max-width: 1000px) {
  .features {
    flex-direction: column;
  }
  .NDG-banner {
    display: none;
  }
}
