.one-touch-logo:hover {
  cursor: pointer;
}
.one-touch-nav {
  color: #333;
  /* background-color: #848484; */
  background-image: linear-gradient(to right, #ececec, #fafafafa);
  width: 1000px;
}
.admin-nav {
  color: #d9534f;
}

/* Media Queries */
@media only screen and (max-width: 1000px) {
  .one-touch-nav {
    width: 95vw;
  }
}
